/* button styling, all pages */

.logo-image{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
}

nav {
  display: flex;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-decoration: none;
  overflow: hidden;
  position: sticky;
}

nav a:hover{
  color: lightgrey;
}

.button1, .button2, .button3, .button4{
  padding-top: 20px; 
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position:sticky;
}

/* index.html styling */

body {
    display: block;
    align-items: flex-start; 
    font-size: 2em;
    color: darkslategrey;
    background-image: url("photos/backgroundplaceholder.jpg");
     /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
@media (min-width: 900px) {
  body{
  background-repeat: repeat-y;
  }
}

.button1, .button2, .button3, .button4 {
  color: white;
  text-decoration: none;
}

.home {
  font-size: 100px;
  border-style: solid;
  border-width: 5px;
  color: black;
  margin: 0;
  position: absolute;
  padding: 15px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 5px;
}

.dac{
  position: absolute;
  padding: 15px;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 45px;
  font-family: 'Fjalla One', sans-serif;
}

/* projects page styling */

p.projectparagraph{
  display: block;
  height: 100px;
  width: 100%;
  color: black;
  font-family: 'Fjalla One', sans-serif;
  padding-top: 150px;
  text-align: center;
}

div.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  background-color: black;
  width: 100%;
  padding: 10px;
  /* width: 400px; */
}

#pics{
  width: 400px;
}

 /* .gallery{
  width: 400px;
} */

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 300px;
}

div.desc {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: white;
} 

/* about me page styling */

@media (min-width: 900px) {
  .myphoto{
  width: 200px;
  height: auto;
  }
}

.myphoto {
  display: inline-block;
  width: 400px;
  padding-right: 50px;
}

.aboutme{
  font-size: 30px;
  color: black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-right: 50px;
  padding-left: 50px;
}

.aboutmetext{
  padding-left: 30px;
  padding-top: 50px;
  color: black;
  font-family: 'Fjalla One', sans-serif;
}

/* resume page styling */

.resumelink{
  text-decoration: none;
  color: black;
}

.resumelink :hover{
  color: darkslategray;
}

.header, .main, .info{
  padding-left: 30px;
  padding-right: 30px;
}

.info{
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.colors{
  color: black;
}

#address{
  font-size:18px;
  font-weight: 400;
}

.edu, .work, .projects, .resumeheaderssize{
  font-size: 30px;
}

#graphicdesigner{
font-size: 31px;
} 

/* grid css */

* {box-sizing: border-box;}

/* all the divs that are inside wrapper */
.wrapper > div {
    border-radius: 1px;
    padding: 50px;
}

/* assigning areas for the grid for index */
nav {
    grid-area: n;
}

header {
    grid-area: h;
}

.wrapper {
    margin: 0 auto;
    display: grid;
    /* building three rows */
    /* grid-auto-rows: 15% auto auto 7%; */
    /* grid-template-columns: 1fr; */
    grid-template-areas: 
      "n n n"
      ". h .";
}

/* assigning areas for the grid for projects */
nav {
  grid-area: n;
}

h1 {
  grid-area: h;
}

.projectspage {
  margin: 0 auto;
  display: grid;
  /* building three rows */
  /* grid-auto-rows: 15% auto auto 7%; */
  /* grid-template-columns: 1fr; */
  grid-template-areas: 
    "n n n"
    ". h .";
}