/* button styling, all pages */

.logo-image{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
}

nav {
  display: flex;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-decoration: none;
  overflow: hidden;
  position: sticky;
}

nav a:hover{
  /* animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite; */
  color: lightgrey;
}

.button1, .button2, .button3, .button4{
  padding-top: 20px; 
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position:sticky;
}

/* index.html styling */

body {
    display: block;
    align-items: flex-start; 
    font-size: 2em;
    color: darkslategrey;
    text-align: center;
    background-image: url("photos/backgroundplaceholder.jpg");
     /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

article {
  font-size: 100px;
  border-style: solid;
  border-width: 5px;
  color: black;
  margin: 0;
  position: absolute;
  padding: 15px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Abril Fatface', cursive;
}

/* projects page styling */

.projectparagraph{
  display: block;
}

div.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  background-color: black;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size: 15px;
}

/* about me page styling */

.aboutme{
  font-size: 30px;
  color: black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* grid css */

* {box-sizing: border-box;}

/* all the divs that are inside wrapper */
.wrapper > div {
    /* border: 2px solid black; */
    border-radius: 1px;
    padding: 50px;
}

/* assigning areas for the grid */
nav {
    grid-area: n;
}

header {
    grid-area: h;
}

.wrapper {
    margin: 0 auto;
    display: grid;
    /* building three rows */
    /* grid-auto-rows: 15% auto auto 7%; */
    /* grid-template-columns: 1fr; */
    grid-template-areas: 
      "n n n"
      ". h .";
}